*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  display: flex;
  flex-direction: column;
  width: 412px;
  height: 792px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.44);
  padding: 24px;
  border-radius: 8px;
}

.frame .div {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 10px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -6.78px;
  display: flex;
  position: relative;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "SF Pro-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: normal;
}

.frame .div-2 {
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  padding: 10px 0px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.frame .text-field {
  display: flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.frame .state-layer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--collection-1-brand-blue-dark);
}

.frame .state-layer {
  display: flex;
  align-items: flex-start;
  padding: 4px 0px 4px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 4px 4px 0px 0px;
}

.frame .content {
  display: flex;
  flex-direction: column;
  height: 48px;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .input-text {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  border: none;
  background: none;
  margin-top: -1px;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: var(--m3-schemes-on-surface);
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
  padding: 0;
}

.frame .label-text {
  display: inline-flex;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  top: -12px;
  left: -4px;
  background-color: #eaf9ff;
  border-radius: 2px;
  border: none;
  margin-top: -1px;
  font-family: var(--small-font-family);
  font-weight: var(--small-font-weight);
  color: var(--m3-schemes-on-surface-variant);
  font-size: var(--small-font-size);
  letter-spacing: var(--small-letter-spacing);
  line-height: var(--small-line-height);
  white-space: nowrap;
  font-style: var(--small-font-style);
}

.frame .trailing-icon {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.frame .container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
}

.frame .icon-wrapper {
  gap: 10px;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.frame .icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame .input-text-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.frame .input-text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: var(--m3-schemes-on-surface);
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
}

.frame .label-text-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  top: -12px;
  left: -4px;
  background-color: #eaf9ff;
  border-radius: 2px;
}

.frame .label-text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-font-family);
  font-weight: var(--small-font-weight);
  color: var(--m3-schemes-on-surface-variant);
  font-size: var(--small-font-size);
  letter-spacing: var(--small-letter-spacing);
  line-height: var(--small-line-height);
  white-space: nowrap;
  font-style: var(--small-font-style);
}

.frame .img {
  position: relative;
  width: 48px;
  height: 48px;
}

.frame .div-3 {
  align-items: center;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.frame .div-4 {
  width: 263px;
  align-items: center;
  gap: 13px;
  display: flex;
  position: relative;
}

.frame .switch {
  display: inline-flex;
  height: 32px;
  align-items: center;
  padding: 2px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--collection-1-neutral-grey100);
  border-radius: 100px;
  border: 2px solid;
  border-color: var(--collection-1-neutral-grey500);
}

.frame .handle {
  position: relative;
  align-self: stretch;
  width: 36px;
}

.frame .target {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  position: relative;
  top: -10px;
  left: -16px;
}

.frame .handle-shape-wrapper {
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.frame .handle-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--collection-1-neutral-grey500);
  border-radius: 24px;
  overflow: hidden;
}

.frame .container-2 {
  position: relative;
  width: 2px;
  height: 2px;
  border-radius: 100px;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--small-font-family);
  font-weight: var(--small-font-weight);
  color: #000000;
  font-size: var(--small-font-size);
  letter-spacing: var(--small-letter-spacing);
  line-height: var(--small-line-height);
  white-space: nowrap;
  font-style: var(--small-font-style);
}

.frame .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--small-font-family);
  font-weight: var(--small-font-weight);
  color: var(--collection-1-brand-blue-dark);
  font-size: var(--small-font-size);
  letter-spacing: var(--small-letter-spacing);
  line-height: var(--small-line-height);
  white-space: nowrap;
  font-style: var(--small-font-style);
}

.frame .line {
  position: relative;
  width: 372px;
  height: 1.5px;
}

.frame .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  height: 52px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--collection-1-brand-blue);
  border-radius: 8px;
}

.frame .button-2 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  font-family: "SF Pro-Semibold", Helvetica;
  font-weight: 400;
  color: var(--collection-1-neutral-grey100);
  font-size: 16px;
  letter-spacing: 0.06px;
  line-height: normal;
  white-space: nowrap;
}

.frame .don-t-have-an-wrapper {
  align-items: center;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.frame .don-t-have-an {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-font-family);
  font-weight: var(--small-font-weight);
  color: transparent;
  font-size: var(--small-font-size);
  letter-spacing: var(--small-letter-spacing);
  line-height: var(--small-line-height);
  white-space: nowrap;
  font-style: var(--small-font-style);
}

.frame .span {
  color: #000000;
  letter-spacing: var(--small-letter-spacing);
  font-family: var(--small-font-family);
  font-style: var(--small-font-style);
  font-weight: var(--small-font-weight);
  line-height: var(--small-line-height);
  font-size: var(--small-font-size);
}

.frame .text-wrapper-4 {
  color: #005bac;
  letter-spacing: var(--small-letter-spacing);
  font-family: var(--small-font-family);
  font-style: var(--small-font-style);
  font-weight: var(--small-font-weight);
  line-height: var(--small-line-height);
  font-size: var(--small-font-size);
}

.frame .logo {
  position: relative;
  width: 130px;
  height: 131.56px;
  background-image: url(./img/img-8728-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .div-5 {
  align-items: center;
  gap: 10px;
  padding: 2px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -6.78px;
  display: flex;
  position: relative;
}

.frame .div-6 {
  width: 256px;
  align-items: center;
  gap: 4px;
  padding: 0px 5px;
  display: flex;
  position: relative;
}

.frame .figma {
  position: relative;
  width: 20px;
  height: 20px;
}

.frame .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "SF Pro-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-brand-blue-dark);
  font-size: 12px;
  letter-spacing: 0.06px;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: "SF Pro-Light", Helvetica;
  font-weight: 300;
  color: var(--collection-1-neutral-grey400);
  font-size: 12px;
  letter-spacing: 0.05px;
  line-height: normal;
  white-space: nowrap;
}
